body {
  font-family: "Open Sans", sans-serif; }

h1 {
  color: #cccccc;
  weight: 300; }

figure {
  margin: auto; }

.content {
  background: white;
  margin-bottom: 300px;
  position: relative;
  z-index: 2; }
  .content article {
    margin: 0 auto;
    max-width: 640px;
    padding: 100px 0;
    text-align: center; }

img {
  max-width: 100%; }

.bird-box {
  background-attachment: fixed;
  background-image: url(../img/bird-bg.jpg);
  background-position: top center;
  background-size: auto 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: 3; }

.logo {
  background-image: url(../img/black-bird-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 100%; }

.fore-bird {
  background-image: url(../img/fore-bird.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 733px;
  left: 50%;
  margin-left: -480px;
  position: absolute;
  top: 380px;
  width: 960px; }

.back-bird {
  background-image: url(../img/back-bird.png);
  background-position: top left;
  background-repeat: no-repeat;
  height: 298px;
  left: 50%;
  margin-left: -480px;
  position: absolute;
  width: 960px; }

.clothes-pics {
  margin-bottom: 100px; }
  .clothes-pics figure {
    cursor: pointer;
    margin-bottom: 20px;
    opacity: 0;
    position: relative;
    transform: translateX(30px);
    transition: all 0.4s ease-in-out;
    overflow: hidden; }
    .clothes-pics figure.is-showing {
      opacity: 1;
      transform: translateX(0); }
    .clothes-pics figure img {
      display: block;
      transform: scale(1);
      transition: all 0.3s ease-in-out; }
    .clothes-pics figure:hover figcaption {
      left: 0%; }
    .clothes-pics figure:hover img {
      transform: scale(1.1); }
  .clothes-pics figcaption {
    background: black;
    bottom: 10px;
    color: white;
    font-size: 11px;
    left: -100%;
    padding: 2px 8px;
    position: absolute;
    transition: all 0.3s ease-in-out; }

.large-window {
  height: 640px;
  background-attachment: fixed;
  background-image: url(../img/model2.jpg);
  background-position: center 0;
  background-repeat: repeat-y;
  border-radius: 50%;
  margin-bottom: 100px;
  margin-top: 100px;
  position: relative; }

.window-tint {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.promo-text {
  color: white;
  font-size: 50px;
  font-weight: 100;
  line-height: 1.2; }
  .promo-text strong {
    display: block;
    font-size: 30px; }
  .promo-text span {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6); }
  .promo-text .window-cta {
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    .promo-text .window-cta:hover {
      background: white;
      color: black; }

.blog-posts {
  margin-top: 100px; }
  .blog-posts .post {
    background: white;
    border: 1px solid #e1e1e1;
    padding: 20px 20px 0;
    position: relative; }
  .blog-posts .post-1 {
    transform: translate(100px, 20px); }
  .blog-posts .post-2 {
    z-index: 2; }
  .blog-posts .post-3 {
    transform: translate(-100px, 20px); }

footer {
  background: black;
  bottom: 0;
  color: white;
  padding: 40px 0;
  position: fixed;
  width: 100%; }
  footer .footer-stuff {
    margin: 0 auto;
    max-width: 640px; }
  footer a {
    color: white; }
